numpy
nltk==3.8.1
gensim
matplotlib

# To run on cli: /Applications/Python\ 3.11/Install\ Certificates.command
# If SSL cert fail on Mac -> command above calls pip install --upgrade certifi  -> then calling nltk.download works
certifi